// WideScreens

@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// desktop & laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// tablets & small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 24vh;
    transform: translate3d(100%, 0 0);
    .portrait {
      background: url("../img/");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// smart phoens
@include mediaSm {
  main#home {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
